.footer{
    background: linear-gradient(180deg, rgba(27,26,27,1) 0%, rgba(55,10,55,1) 40%);
    padding-top: 100px;
    padding-bottom: 12px;
}

.footer-coopirate {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
}

.footer-coopirate__contact-adr{
    font-style: normal;
}

.footer-coopirate__contact-text{
    margin-bottom: 7px;
}

.footer-coopirate__contact-text:hover,
.footer-coopirate__contact-adr:hover
{
 cursor: pointer;
 border-bottom: 2px solid var(--purple,#CD06FF);
 transition: 1s ease-in-out;
}