.header {
  padding-top: 40px;
  padding-bottom: 50px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-navigation__logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 120px;
  height: 66px;
}

.header-navigation__list {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
}
.header-navigation__list-item {
  margin-right: 40px;
}

.header-navigation__list-item:last-child {
  margin-right: 0;
}

.header-navigation__list-link {
}
.header-navigation__bnt {
  background: transparent;
  border: 3px solid #cd06ff;
  border-radius: 10px;
  padding: 12px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: white;
}

.header-banner {
  position: relative;
  height: 830px;
}

.header-banner__img {
  position: absolute;
  right: 0;
  bottom: 0;

  background-image: url("../img/banner_man.png");
  width: 670px;
  height: 750px;
}

.header-title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
}

.header-subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  /* В качестве исключения можно?
  Я не знаю ка  */
  margin-right: 30px;
  margin-bottom: 30px;
}

.header-advantages__list {
  display: flex;
  margin-bottom: 150px;
}
.header-advantages__list-item {
  margin-right: 40px;
  width: 183px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.header-advantages__list-item:last-child {
  margin-right: 0px;
}
.header-advantages__list-adv {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  color: #cd06ff;
}
.header-advantages__list-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}
.header-banner__bnt {
  background-color: #6c0287;
  color: white;
  padding: 25px 60px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
}
