.otziv-list {
  width: 980px;
  margin: 0 auto;
}
.otziv-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.otziv-list__item:last-child {
  margin-bottom: 0px;
}

.otziv-list__item-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 28%;
}

.otziv-item__figure-img {
  position: relative;
  z-index: -2;
  border-radius: 100%;
  margin-bottom: 11px;
}

.otziv-item__figure-img ::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  display: inline-block;
  content: " ";
  width: 200px;
  height: 200px;
  background: rgb(196, 196, 196);
  background: radial-gradient(
    circle,
    rgba(196, 196, 196, 0) 38%,
    rgba(108, 2, 135, 0.5) 67%,
    rgba(108, 2, 135, 0.5) 88%
  );
  z-index: 3;
}
.otziv-item__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  flex-basis: 69%;
}
